.div-background{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScACfzslvrv0Lg81fXt1Id3Vdb_GPcHM4V78eSGl9_u9Xn7kuo');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
    }