.div-background{
    background-image: url('https://cdn-images-1.medium.com/max/2000/1*Uj15OcwNKstYY51bkEzzyA.jpeg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    color: #ff;
    }